table {
  margin: 4px;
}

table, th, td {
  border: none;
}

th, caption {
  text-align: left;
}

th {
  background: #505050;
  color: #f0f0f0;
  font-weight: bold;
}

tr {
  background: #949494;
  font-size: smaller;
}

.testrig {
  background: #949494;
  font-size: smaller;
}

.device {
  background: #bfbfbf;
  font-size: smaller;
}
