table {
  margin: 4px;
}

table, th, td {
  border: none;
}

th, caption {
  text-align: left;
}

th {
  background: #505050;
  color: #bfbfbf;
  font-weight: bold;
}

td {
  background: #949494;
  font-size: smaller;
}