/*size medium*/
/*:root {*/
  /*--h1-p-font-size: medium;*/
  /*--pre-font-size: medium;*/
  /*--main-height: 22px;*/
  /*--index-font-size: small;*/
  /*--index-width: 40px;*/
  /*--margin-right: 2px;*/
  /*--secondary-size: 22px;*/
  /*--triangle-right-top: 11px;*/
  /*--triangle-right-left: 12px;*/
  /*--triangle-right-bottom: 11px;*/
/*}*/
/*size x-small*/
:root {
  --h1-p-font-size: x-small;
  --pre-font-size: small;
  --main-height: 16px;
  --index-font-size: x-small;
  --index-width: 30px;
  --margin-right: 1px;
  --secondary-size: 8px;
  --triangle-right-top: 8px;
  --triangle-right-left: 6px;
  --triangle-right-bottom: 8px;
}

html, body {
  height: 100%;
  margin: 0;
}

h1, p {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: var(--h1-p-font-size);
}

pre {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Courier New", Courier, monospace;
  font-size: var(--pre-font-size);
}

#container {
  display: flex;
  flex-flow: column;
  height: 100%
}

#controls {
  flex: 0 1 auto; /* flex-grow flex-shrink flex-basis all defaults */
  order: 0; /* default - controls above content and basic */
  margin: 2px;
}

#content {
  flex: 1 1 auto;
  order: 1;
  margin: 2px;
}

.table_headers {
  flex: 0 0 10%;
  max-height: 10%;
  order: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}

.table_contents {
  flex: 0 0 90%;
  max-height: 90%;
  order: 2;
  overflow-y: scroll;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid grey;
  padding: 2px;
}

th {
  background-color: #DDDDDD;
}

th, td
{
  word-break: break-all;
}

#basic {
  order: 1;
  overflow-y: scroll;
}

.containerMessage, .containerNoFold, .containerFold, .timestamp, .logLevel, .logLevelSpacer, .levelStep, .source { /* .index, */
  height: var(--main-height);
  cursor: default;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.debug {
  flex: 0 0 300px;
  font-family: "Courier New", Courier, monospace;
  font-size: smaller;
}

.index {
  height: calc(var(--main-height) - 1px);
  border-bottom: 1px solid black;
  align-content: center;
  align-items: center;
  flex: 0 0 var(--index-width);
  margin-right: var(--margin-right);
  background:black;
  justify-content:center;
  color:white;
  font-size: var(--index-font-size);
  cursor: default;
  padding-left: 2px;
  padding-right: 2px;
}

.spacer {
  height: var(--main-height);
  width: 0;
  padding: 0;
  margin: 0;
}

.containerMessage {
  width: 100%;
  justify-content: flex-start;
}

.timestamp {
  flex: 0 0 130px;
  margin-right: var(--margin-right);
  background: #303030;
  color: white;
}

.triangle-topright {
  width: 0;
  height: 0;
  margin-right: var(--margin-right);
  border-top: var(--main-height) solid #505050;
  border-left: var(--secondary-size) solid transparent;
}

.containerNoFold, .containerFold {
  flex: 0 0 var(--secondary-size);
  margin-right: var(--margin-right);
  background: #505050;
  color: #F8F8F8;
  -webkit-transition: background 0.5s, color 0.5s; /* Safari */
  transition: background 0.5s, color 0.5s;
}

.containerFold:hover {
  background: #C8C8C8;
  color: #303030;
  cursor: pointer;
}

.logLevel, .logLevelSpacer {
  flex: 0 0 var(--secondary-size);
  background: grey;
  color: white;
}

.logLevel, .logLevelSpacer {
  margin-right: 0px;
}

.logLevelSpacer {
  margin-right: var(--margin-right);
}

.levelStep {
  flex: 0 0 var(--main-height);
  margin-right: 0px;
  background: grey;
  font-size: var(--index-font-size);
}

.failBackground {
  background: red;
}

.warnBackground {
  background: orange;
}

.passBackground {
  background: green;
}

.triangle-right {
  width: 0;
  height: 0;
  margin-right: 2px;
  border-top: var(--triangle-right-top) solid transparent;
  border-left: var(--triangle-right-left) solid grey;
  border-bottom: var(--triangle-right-bottom) solid transparent;
}
/* Special cases for the triangle arrow colouring */
.tr-failBackground {
  border-left: var(--triangle-right-left) solid red;
}

.tr-warnBackground {
  border-left: var(--triangle-right-left) solid orange;
}

.tr-passBackground {
  border-left: var(--triangle-right-left) solid green;
}

.None, .Fail, .Warn, .Pass  {
  margin-right: 2px;
  height: auto;
  cursor: text;
}

.failForeground {
  color: red;
}

.warnForeground {
  color: orange;
}

.passForeground {
  color: green;
}

.rightSideContainer {
  display: flex;
  flex-grow: 1;
  flex-flow: row-reverse no-wrap;
  justify-content: flex-end;
}

.tags {
  width:auto;
  font-size: small;
  color: white;
  background-color: black;
  white-space: nowrap;
  padding: 1px;
  margin-left: 2px;
}

/* Tabbed interface */
.tab {
  flex: 0 0 auto;
  order: 2;
  overflow: hidden;
  border-top: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
}
