html, body {
  height: 100%;
  margin: 0;
}

h1, p {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
}

pre {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
}

#container {
  display: flex;
  flex-flow: column;
  height: 100%
}

#controls {
  flex: 0 1 auto; /* flex-grow flex-shrink flex-basis all defaults */
  order: 0; /* default - controls above content and basic */
  margin: 2px;
}

#content {
  flex: 1 1 auto;
  order: 1;
  margin: 2px;
}

.table_headers {
  flex: 0 0 10%;
  max-height: 10%;
  order: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}

.table_contents {
  flex: 0 0 90%;
  max-height: 90%;
  order: 2;
  overflow-y: scroll;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid grey;
  padding: 2px;
}

th {
  background-color: #DDDDDD;
}

th, td
{
  word-break: break-all;
}

#basic {
  order: 1;
  overflow-y: scroll;
}

.containerMessage, .containerNoFold, .containerFold, .timestamp, .logLevel, .levelStep, .source { /* .index, */
  height: 22px;
  cursor: default;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.debug {
  flex: 0 0 300px;
  font-family: "Courier New", Courier, monospace;
  font-size: smaller;
}

.index {
  height: 21px;
  border-bottom: 1px solid black;
  cursor: default;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.spacer {
  height: 22px;
  width: 0;
  padding: 0;
  margin: 0;
}

.containerMessage {
  height: 22px;
  width: 100%;
  justify-content: flex-start;
}

.index {
  flex: 0 0 40px;
  margin-right: 2px;
  background:black;
  justify-content:center;
  color:white;
  font-size: small;
  cursor: default;
  padding-left: 2px;
  padding-right: 2px;
}

.timestamp {
  flex: 0 0 130px;
  margin-right: 2px;
  background: #303030;
  color: white;
}

.triangle-topright {
  width: 0;
  height: 0;
  margin-right: 2px;
  border-top: 22px solid #505050;
  border-left: 22px solid transparent;
}

.containerNoFold, .containerFold {
  flex: 0 0 22px;
  margin-right: 2px;
  background: #505050;
  color: #F8F8F8;
  -webkit-transition: background 0.5s, color 0.5s; /* Safari */
  transition: background 0.5s, color 0.5s;
}

.containerFold:hover {
  background: #C8C8C8;
  color: #303030;
  cursor: pointer;
}

.logLevel {
  flex: 0 0 22px;
  margin-right: 0px;
  background: grey;
  color: white;
}

.levelStep {
  flex: 0 0 22px;
  margin-right: 0px;
  background: grey;
  font-size: small;
}

.triangle-right {
  width: 0;
  height: 0;
  margin-right: 2px;
  border-top: 11px solid transparent;
  border-left: 12px solid grey;
  border-bottom: 11px solid transparent;
}

.None, .Fail, .Warn, .Pass  {
  margin-right: 2px;
  height: auto;
  cursor: text;
}

.Fail {
  color: red;
}

.Warn {
  color: orange;
}

.Pass {
  color: green;
}

.source {
  width:auto;
  font-size: small;
  color: white;
  white-space: nowrap;
  flex-flow: row-reverse no-wrap;
  flex-grow: 1;
  justify-content: flex-end;
}

/* Tabbed interface */
.tab {
  flex: 0 0 auto;
  order: 2;
  overflow: hidden;
  border-top: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
}